.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
       /* HEADER */
       
.logo{

    /* font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 30,52px;
    color: var(--black); */
    width: 145px;
    height: 31px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    color: var(--black);

}

.logo-first{
    color: var(--blue);
}


.nav-item{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    color: var(--black);
}

.nav-link{
    color: var(--black);
}

.nav-link:hover,
.nav-link:focus{
    color: var(--blue);
}


.contacts{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    color: var(--gray);
}

.contacts:hover,
.contacts:focus{
    color: var(--blue)
}

      /* HERO */

.hero-btn{
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;

}

.hero-btn:hover,
.hero-btn:focus{
    color: var(--blue)
}

.hero-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 2;
    color: var(--black);
}

.hero-descript{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
    color: var(--gray);
}

     /* FOOTER */

.page-footer{
    background-color: var(--background-foot);
}

.address{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    color: var(--white);
}

.logo-foot{
    width: 145px;
    height: 31px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    color: var(--white);
}

.contacts-list{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    color: var(--gray-op60);
}

